<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"><ion-icon name="apps"></ion-icon></ion-menu-button>
    </ion-buttons>
    <div slot="end" class="user-info">
      <ion-label>
        <p class="username">
          {{user?.name}}
        </p>
        <p class="nickname">
          {{user?.email}}
        </p>
      </ion-label>
      <ion-icon id="user-trigger" slot="end" size="large" color="primary" name="person-circle-outline" (click)="onProfile()"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>
