<ion-content class="ion-padding ion-text-center">

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">{{"about.texto" | translate}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{"about.texto1" | translate}} <strong>Edutrack</strong> {{"about.texto2" | translate}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title class="ion-text-center">{{"about.texto6" | translate}}</ion-card-title>
    <ion-card-content class="mi-info">
      <img src="assets/imgs/imageMia.jpg" alt="Foto del Desarrollador" class="mi-image">
      <div>
        <p>{{"about.texto3" | translate}}<strong>Pablo García Muñoz</strong>{{"about.texto4" | translate}}</p>
        <br>
        <p>{{"about.texto5" | translate}}</p>
        <ion-list lines="none">
          <ion-item class="social-item">
            <ion-icon name="logo-github" slot="start"></ion-icon>
            <ion-label><a href="https://github.com/PabloGM1204" target="_blank">GitHub</a></ion-label>
          </ion-item>
          
          <ion-item class="social-item">
            <ion-icon name="logo-instagram" slot="start"></ion-icon>
            <ion-label><a href="https://instagram.com/mr__sockss/" target="_blank">Instagram</a></ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
